 #totalcontent
{
    margin-top:50px;
    height:400px;
    width:100%;
    border:2px solid black ;
    align-items:center ; 
} 

.navbar {
    height: 100px;
    width: 100%;
    background-color: #2597BE;
    /* border: black; */
  
    text-align: right;
    /* line-height: 10px; */
    padding-top: 10px;
    /* text-align: center; */
}
.navbar a {

    position: relative;
    top: 30px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    background: none;
    padding: 0 10px;
    margin: 0 5px;
    font-weight: normal;
    border: none;
}
.navbar a:hover
{
    color: white;
}

.emp-img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    align-self: center;
    

}

.emp-text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    padding-top: 30px;
}

* {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}



h1 {
    text-align: left;
}

.employee {
    padding-top: 30px;
    width: 150px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 1px black;
    transition: 1s;
    float: left;
    align-items: center;
}

.employee:hover {
    width: 300px;
    box-shadow: 2px 4px 1px;

}

img {
    width: 100px;
    height: 100px;
}


h4 {
    text-decoration: underline;
}

.donate {
    float: right;
    align-self: right;
    display: block;
    height: 50px;
    width: 200px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 55px;
    border-radius: 10%;
    font-weight: bold;
    border: 5px black;
    transition: 1s;
}

.donate h4,
h5,
p {
    color: black;
    line-height: 20px;
}

.donate button {
    background-color: rgba(0, 255, 255, 0.411);
}

.donate:hover {
    width: 300px;
    height: 100px
}

.account {
    height: 40px;
    width: 40px;
    border-radius:50%;
    background-color: green;
    color: white;
    border: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top:2px;
    justify-content: right;
    align-items:right;
    float:left;

}

.newtext {
    margin-top: 20%;
    font-size: large;
    font-weight: bold;
    display: block;
}

/* .events {

    height: 100px;
    width: 100px;
    border: 10px black;
    vertical-align: top;
    display: inline-block;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
    background-color: beige;
    font-size: large;
    font-weight: bold;
} */
/* .btn_one {
    background-color: #25A5BE;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 80px;
} */